<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list web app</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="static/index.css">

</head>

<body>
    <div id="main">
        <div id="full_app">
            <div id="wrapper">
                <form method="POST">
                    <h1> To do list </h1>
                    <p class="error">{{error}}</p>
                    <div class = "txtbtn">
                        <input type="text" name="inputText" class="textBox" />
                        <button type="submit" class="add"><i class="far fa-plus-square"></i></button>
                    </div>
                </form>
                <h3>To do:</h3>
                <ul>
                    {% for item in lista:   %}
                    <li>
                        <div>{{item}}</div>
                        <div><a type="submit" href="/done/{{item}}" class="butong"> Done </a> <a type="submit"
                                href="/remove/{{item}}" class="remong"> Remove </a></div>
                    </li>
                    {% endfor    %}
                </ul>

                <h3>Done:</h3>
                <ul>
                    {% for item in listaDone:   %}
                    <li>
                        <div>{{item}}</div>
                        <div><a type="submit" href="/undone/{{item}}" class="retong"> Undone </a> <a type="submit"
                                href="/remove2/{{item}}" class="remong"> Remove </a></div>
                    </li>
                    {% endfor    %}
                </ul>

                <h3>Removed:</h3>
                <ul>
                    {% for item in listaRemoved:   %}
                    <li>
                        <div>{{item}}</div>
                        <div><a type="submit" href="/undone2/{{item}}" class="retong"> Undone </a> <a type="submit"
                                href="/fremove/{{item}}" class="fremong"> Fully remove </a></div>
                    </li>
                    {% endfor    %}
                </ul>

            </div>
        </div>
    </div>
</body>

</html>